<settings>

	<setting propertyKey="@Properties.Use12Hour" title="@Strings.Use12HourTitle">
		<settingConfig type="boolean"/>
	</setting>
	
	<setting propertyKey="@Properties.Imperial" title="@Strings.ImperialTitle">
		<settingConfig type="boolean"/>
	</setting>

    <setting propertyKey="@Properties.HourColor" title="@Strings.HourColorTitle">
        <settingConfig type="list">
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.MinutesColor" title="@Strings.MinutesColorTitle">
        <settingConfig type="list">
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.SecondsColor" title="@Strings.SecondsColorTitle">
        <settingConfig type="list">
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.HourFilled" title="@Strings.HourFilledTitle">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.MinutesFilled" title="@Strings.MinutesFilledTitle">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.DisplaySeconds" title="@Strings.DisplaySecondsTitle">
    	<settingConfig type="boolean"/>
    </setting>
    
    <setting propertyKey="@Properties.AccentColor" title="@Strings.AccentColorTitle">
        <settingConfig type="list">
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.BigComplication" title="@Strings.BigComplicationTitle">
        <settingConfig type="list">
        	<listEntry value="0">@Strings.ComplicationEmpty</listEntry>
            <listEntry value="1">@Strings.ComplicationActiveMinutesBar</listEntry>
            <listEntry value="2">@Strings.ComplicationStepsBar</listEntry>
            <listEntry value="3">@Strings.ComplicationCaloriesBurnedBar</listEntry>
            <!-- <listEntry value="5">@Strings.ComplicationMoveBar</listEntry> -->
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.LeftComplication" title="@Strings.LeftComplicationTitle">
    	<settingConfig type="list">
    		<listEntry value="0">@Strings.ComplicationEmpty</listEntry>
    		<listEntry value="1">@Strings.ComplicationDate</listEntry>
    		<!-- <listEntry value="2">@Strings.ComplicationHeartRate</listEntry> pretty big lag... -->
    		<listEntry value="3">@Strings.ComplicationDistance</listEntry>
    		<listEntry value="4">@Strings.ComplicationStatusIcons</listEntry>
    		<listEntry value="5">@Strings.ComplicationNotificationCount</listEntry>
    		<listEntry value="6">@Strings.ComplicationFloorsClimbed</listEntry>
    		<listEntry value="7">@Strings.ComplicationBattery</listEntry>
    		<listEntry value="8">@Strings.ComplicationSteps</listEntry>
    		<listEntry value="9">@Strings.ComplicationActiveMinutes</listEntry>
    	</settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.RightComplication" title="@Strings.RightComplicationTitle">
    	<settingConfig type="list">
    		<listEntry value="0">@Strings.ComplicationEmpty</listEntry>
    		<listEntry value="1">@Strings.ComplicationDate</listEntry>
    		<!-- <listEntry value="2">@Strings.ComplicationHeartRate</listEntry> pretty big lag... -->
    		<listEntry value="3">@Strings.ComplicationDistance</listEntry>
    		<listEntry value="4">@Strings.ComplicationStatusIcons</listEntry>
    		<listEntry value="5">@Strings.ComplicationNotificationCount</listEntry>
    		<listEntry value="6">@Strings.ComplicationFloorsClimbed</listEntry>
    		<listEntry value="7">@Strings.ComplicationBattery</listEntry>
    		<listEntry value="8">@Strings.ComplicationSteps</listEntry>
    		<listEntry value="9">@Strings.ComplicationActiveMinutes</listEntry>
    	</settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.AccentColorComplication" title="@Strings.AccentColorComplicationTitle">
    	<settingConfig type="boolean"/>
    </setting>

</settings>
